{% extends '@layouts/startlayout.html.twig' %}


 {% block avanzu_head %}
     {% stylesheets
     '@carteleriaBundle/Resources/public/fullcalendar/dist/fullcalendar.css'  output='css/compiled/calendar.css' filter='yui_css'
     %}
     <link rel="stylesheet"  href="{{ asset_url }}" />
     {% endstylesheets %}


     {% stylesheets
     '@carteleriaBundle/Resources/public/fullcalendar/dist/fullcalendar.print.css'   output='css/compiled/calendar2.css' filter='yui_css'

     %}


     <link rel="stylesheet"  href="{{ asset_url }} " media="print" />
     {% endstylesheets %}

     {#{% stylesheets#}
     {#'@carteleriaBundle/Resources/public/fullcalendar/scheduler/scheduler.css'   output='css/compiled/calendar3.css' filter='yui_css'#}

     {#%}#}

     {#<link rel="stylesheet"  href="{{ asset_url }} " media="print" />#}
     {#{% endstylesheets %}#}


     <link href="{{ asset('bundles/carteleria/public/fullcalendar/scheduler/scheduler.css')}}" rel="stylesheet">

     <link href="{{ asset('bundles/carteleria/public/vex/css/vex.css')}}" rel="stylesheet">
     <link href="{{ asset('bundles/carteleria/public/vex/css/vex-theme-bottom-right-corner.css')}}" rel="stylesheet">
     <link href="{{ asset('bundles/carteleria/public/vex/css/vex-theme-default.css')}}" rel="stylesheet">
     <link href="{{ asset('bundles/carteleria/public/vex/css/vex-theme-os.css')}}" rel="stylesheet">
     <link href="{{ asset('bundles/carteleria/public/vex/css/vex-theme-wireframe.css')}}" rel="stylesheet">
     <link href="{{ asset('bundles/carteleria/public/vex/css/vex-theme-top.css')}}" rel="stylesheet">
     <link href="{{ asset('bundles/carteleria/public/css/custom.css')}}" rel="stylesheet">

 {% endblock %}

{% block avanzu_page_subtitle  %}
    Horarios
{% endblock %}


{% block avanzu_page_content %}


    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /. box -->
    </div>

    <textarea hidden id="jsontext">{{ jsondata }} </textarea>
    <textarea hidden id="jsonmaterias">{{ jsonmaterias }} </textarea>



{% endblock %}







    {% block avanzu_javascripts_inline  %}

<script src="{{ asset('bundles/carteleria/public/moment/moment.js') }}"> </script>
<script src="{{ asset('bundles/carteleria/public/fullcalendar/dist/fullcalendar.js') }}"> </script>
<script src="{{ asset('bundles/carteleria/public/fullcalendar/dist/gcal.js') }}"> </script>
<script src="{{ asset('bundles/carteleria/public/fullcalendar/dist/locale-all.js') }}"> </script>
<script src="{{ asset('bundles/carteleria/public/fullcalendar/scheduler/scheduler.js') }}"> </script>
<script src="{{ asset('bundles/carteleria/public/js/file.js') }}"> </script>

        <script src="{{ asset('bundles/carteleria/public/vex/js/vex.combined.js') }}"></script>

        <script> vex.defaultOptions.className = 'vex-theme-bottom-right-corner'</script>

        {#{% javascripts#}
        {#'@carteleriaBundle/Resources/public/moment/*.js' output='js/compiled/moment.js' filter='yui_js'#}
        {#'@carteleriaBundle/Resources/public/fullcalendar/dist/*.js' output='js/compiled/calendar.js' filter='?yui_js'#}
        {#'@carteleriaBundle/Resources/public/fullcalendar/scheduler/*.js' output='js/compiled/scheduler.js'#}

        {#%}#}
        {#<script src="{{ asset_url }}"></script>#}

        {#{% endjavascripts %}#}

    {% endblock %}









